- @page_title = "Question ##{@question.position}"

- if current_user
  - if owner?
    #mid_nav.top= link_to 'Edit Question', edit_quiz_question_path(@quiz, @question), :class => 'edit'
  - else
    = correct_or_incorrect

= quiz_link

%h2= @page_title

#show_question= @question.body.to_html

.heading
  %h3 Answers
  = link_to 'Add Answer', '#', :class => 'add ajax' if owner?


- if current_user

  - if owner?
    .new_ajax_form
      %h4 Add Answer
      - form_for @answer, :url => quiz_question_answers_path(@quiz, @question) do |f|
        = f.text_area :body
        .checkbox
          = f.check_box :correct
          = f.label :correct, 'Is this the correct answer?'
        .submit
          = submit_tag 'Add Answer'
          %span or
          = link_to 'Cancel', '#', :class => 'cancel'

    - if @answers.any?
      %ul#answers_list
        - @answers.each do |answer|
          %li{:class => ('correct' if answer.correct?)}= answer.body
    - else
      = no_items('No answers have been added yet.')
      
  - else
  
    - if current_user.participating?(@quiz)
      - if @answers.any? and @question.has_correct_answer?
        - form_for @user_answer, :url => quiz_question_user_answers_path(@quiz, @question) do |f|
          %ul#answers_list
            - @answers.each do |answer|
              %li{:class => user_answer_li_class(answer)}
                = f.radio_button :answer_id, answer.id, :disabled => !@user_answer.new_record?
                = f.label :answer_id, answer.body, :value => answer.id
          
          - if @user_answer.new_record?
            .submit= submit_tag 'Submit Answer', :disable_with => 'Submitting Answer...'
          - else
            .try_again
              - if all_questions_answered?
                = link_to 'Try Again', user_answer_path(@user_answer), :method => :delete
              - else
                You must
                %strong answer all
                the questions in this quiz before you can try again.
          
      - else
        = no_items('No answers have been added yet.')
        
    - else
      = no_items("You must #{link_to 'participate', participate_quiz_path(@quiz), :method => :post} in this quiz to answer questions.")
    
- else
  = no_items("You must #{link_to 'login', login_path} or #{link_to 'signup', signup_path} to view answers.")
  

- content_for :right do
  .next_and_previous
    .prev= prev_question
    .next= next_question
  
  - if current_user and not owner?
    .answered_count
      = total_answered
      answered out of
      %strong= number_with_delimiter(@total_questions)
    .correct_incorrect
      %strong.correct= number_with_delimiter(current_user.answered_count(@quiz, :correct))
      correct,
      %strong.incorrect= number_with_delimiter(current_user.answered_count(@quiz, :incorrect))
      incorrect for this quiz