- @page_title = 'Suggest Question'

= quiz_link

%h2= @page_title

.form
  - form_for @question, :url => quiz_questions_path(@quiz) do |f|
    = f.hidden_field :suggester_id
    = render :partial => 'form', :locals => {:f => f}
    .submit
      = submit_tag 'Create Question', :disable_with => 'Creating Question...'
      %span or
      = link_to 'Cancel', quiz_path(@quiz), :class => 'cancel'