- @page_title = 'Quizzes'

#mid_nav= link_to 'Create Quiz', new_quiz_path

%h2= @page_title

.show_table
  %table
    %thead
      %tr
        %th Title
        %th.center Questions
        %th Last Viewed
    %tbody
      - @quizzes.each do |quiz|
        %tr{:class => cycle('even', ['even', 'odd'])}
          %td= link_to truncate(h(quiz.title), :length => 50), quiz_path(quiz)
          %td.center= quiz.questions.count
          %td= time_ago_in_words(quiz.last_viewed) + ' ago'
          
          
= render :partial => 'categories/list'