- @page_title = @quiz.title


- if current_user
  #mid_nav
    - if owner?
      = link_to 'Edit Quiz', edit_quiz_path(@quiz), :class => 'edit'
    - else
      - if current_user.participating?(@quiz)
        = link_to 'Un-participate', unparticipate_quiz_path(@quiz), :method => :delete
      - else
        = link_to 'Participate', participate_quiz_path(@quiz), :method => :post
  

%h2= @page_title

- unless @quiz.description.blank?
  %p=h @quiz.description

.heading
  %h3= 'Questions (' + @quiz.questions_count.to_s + ')'
  = link_to 'Add Question', new_quiz_question_path(@quiz), :class => 'add' if owner?

%ul#questions_list
  - @quiz.questions.each do |question|
    %li
      = '#' + question.position.to_s
      &ndash;
      = link_to truncate(question.body.to_s, :length => 60), quiz_question_path(@quiz, question)