.field
  = f.label :name
  = f.text_field :name, :size => 50
  = f.error_message_on :name, :prepend_text => 'Name '
.field
  = f.label :username
  = f.text_field :username, :size => 50
  = f.error_message_on :username, :prepend_text => 'Username '
  .hint Only letters, numbers, and underscores. No spaces please.
.field
  = f.label :email
  = f.text_field :email, :size => 50
  = f.error_message_on :email, :prepend_text => 'Email '
.field
  = f.label :password
  = f.password_field :password, :size => 50
  = f.error_message_on :password, :prepend_text => 'Password '
.field
  = f.label :password_confirmation
  = f.password_field :password_confirmation, :size => 50
  = f.error_message_on :password_confirmation, :prepend_text => 'Password confirmation '