- @page_title = 'Signup'

%h2= @page_title

.form
  - form_for @user do |f|
    = render :partial => 'form', :locals => {:f => f}
    = recaptcha_tags
    - if @user.errors['base']
      .formError= @user.errors['base']
    .submit= submit_tag 'Signup', :disable_with => 'Creating Account...'