%li{:id => dom_id(@answer)}
  .inline_edit_form
    - form_for @answer, :html => {:class => 'ajax', :ajaxtarget => ajax_dom_id(@answer)} do |f|
      .errors
      = f.text_area :body, :id => "answer_body_#{@answer.id}"
      .checkbox
        = f.check_box :correct, :id => "answer_correct_#{@answer.id}"
        = label_tag "answer_correct_#{@answer.id}", 'Is this the correct answer?'
      .submit
        = submit_tag 'Update Answer', :loading_value => 'Updating Answer'
        %span or
        = link_to 'Cancel', answer_path(@answer), :class => 'get cancel', :ajaxtarget => ajax_dom_id(@answer)
  
  .delete_link= link_to 'Delete', answer_path(@answer), :class => 'delete right delete', :ajaxtarget => ajax_dom_id(@answer), :ajaxconfirm => 'Are you sure?'