- @page_title = 'Participate And Create Online Quizzes'

%h2 Create and Participate in Online Quizzes

#quizzes_box
  .box
    %h3 Recently Added
    %ul
      - Quiz.recently_added.each do |quiz|
        %li= link_to truncate(h(quiz.title), :length => 45), quiz_path(quiz)
  
  .box.end
    %h3 Recently Updated
    %ul
      - Quiz.recently_updated.each do |quiz|
        %li= link_to truncate(h(quiz.title), :length => 45), quiz_path(quiz)
  

= render :partial => 'categories/list'
              
- content_for :right do
  
  %h3 Recently Viewed
  
  .show_table
    %table
      %thead
        %tr
          %th Title
          %th Last Viewed
      %tbody
        - Quiz.recently_viewed.each do |quiz|
          %tr{:class => cycle('even', ['even', 'odd'])}
            %td= link_to truncate(h(quiz.title), :length => 35), quiz_path(quiz)
            %td= time_ago_in_words(quiz.last_viewed) + ' ago'