- @page_title = "Tag: #{@tag.name}"

= quiz_link(true)

%h2= @page_title

= render :partial => 'questions/list', :locals => {:questions => @questions}

- content_for :right do
  %h3 All Tags
  
  %ul
    - @tags.each do |tag|
      %li
        = link_to_unless_current tag.name, quiz_tag_path(@quiz, tag) do
          - content_tag(:span, tag.name, :class => 'light')