- @page_title = 'Login'

%h2= @page_title

- form_for @user_session, :url => user_session_path do |f|
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.check_box :remember_me
    = f.label :remember_me
  %p
    = submit_tag 'Login', :disable_with => 'Logging in...'